/*
Theme Name:     Appzend Business
Theme URI:      https://sparklewpthemes.com/wordpress-themes/appzend/
Author:         sparklewpthemes
Author URI:     https://sparklewpthemes.com/
Description:    Appzend Business is lite lightweight, fast, fully customizable & beautiful WordPress theme suitable for agency, personal portfolio, business website, blogger and WooCommerce storefront. It is very lightweight and offers unparalleled speed. Built with SEO in mind, Appzend Business comes with Schema.org code integrated so search engines will love your site. It offers special features and templates so it works perfectly with all page builders like Elementor, Beaver Builder, Visual Composer, SiteOrigin, Divi, etc. Some of the other features: # WooCommerce Ready # Responsive # RTL & Translation Ready # Extendible with premium addons # Regularly updated # Designed, Developed, Maintained. Looking for a perfect base theme? Look no further. Appzend is fast, fully customizable and WooCommerce ready theme that you can use for building any kind of website!
Version:        1.0.3
Tested up to:   6.2
Requires PHP:   5.6
License:        GNU General Public License v3 or later
License URI:    http://www.gnu.org/licenses/gpl-3.0.html
Template:       appzend
Text Domain:    appzend-business
Tags:           one-column, two-columns, right-sidebar, left-sidebar, custom-header, custom-background, custom-menu, translation-ready, featured-images, theme-options, custom-logo, e-commerce, footer-widgets

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Appzend Business is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
sparklewpthemes is distributed under the terms of the GNU GPL v3 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

.nav-classic .nav-menu {
    grid-template-columns: auto auto auto auto;
}

.nav-menu .link-box .call-us * {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.nav-menu .link-box .sub-text {
    display: block;
    text-align: left;
    font-size: 13px;
}

.nav-menu .link-box {
    position: relative;
    padding-left: 10px;
    margin-left: 7px;
}

.nav-menu .link-box .call-us .link {
    display: flex;
    align-items: center;
    gap: .5em;
}

.nav-menu .link-box .call-us .link i {
    font-size: 40px;
}

.nav-menu .link-box::before {
    content: "";
    position: absolute;
    bottom: -14px;
    height: 150%;
    width: 1px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.1);
}

.site-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

@media(max-width:1024px) {
    .nav-menu .link-box {
        margin-left: 0;
        margin-right: 7px;
    }
}

@media(max-width: 650px) {
    .nav-menu .link-box {
        display: none;
    }
}